<?xml version="1.0"?>
<appSettings>
    <!--站点名称-->
    <add key="SiteName" value="上传文件管理" /> 
    <!--数据库类型-->
    <add key="DbType" value="sqlserver" />

    <!--管理登录-->
    <add key="userName" value="admin" />
    <add key="password" value="admin" />

    <!--MVC默认配置-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>